{{ define "content" }}
<div class="container">
    <h1>Krijo Familje</h1>
    <form id="family-form" method="POST" action="/api/v1/families">
        <div class="row">
            <div class="col">
                <input name="name" type="text" placeholder='Emri' class="form-control" />
            </div>
            <div class="col">
                <input name="middle_name" type="text" placeholder="Emri i Prindit" class="form-control" />
            </div>
            <div class="col">
                <input name="surname" type="text" placeholder="Mbiemri" class="form-control" />
            </div>
            <div class="col">
                <input name="members" type="number" placeholder="Numri i anetareve" class="form-control" />
            </div>
            <div class="col">
                <select name="neighbourhood_id" class="form-control">
                    <option value="" disabled selected>Zgjidh lagjen</option>
                    {{range .Neighbourhoods}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div class="col">
                <input type="submit" value="Krijo" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <br />
</div>
<div class="container">
    <h3>Lista e familjeve</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Emri</th>
                <th>Prindi</th>
                <th>Mbimeri</th>
                <th>Numri i antareve</th>
                <th>Lagje</th>
                <th>Krijuar me</th>
                <th>Ndryshuar me</th>
                <th>Ndrysho</th>
            </tr>
        </thead>
        <tbody>
            {{range .Families}}
            <tr>
                <td>{{.Family.Name}}</td>
                <td>{{.Family.Middlename}}</td>
                <td>{{.Family.Surname}}</td>
                <td>{{.Family.Members}}</td>
                <td>{{.Neighbourhood}}</td>
                <td>{{.Family.CreatedAt}}</td>
                <td>{{.Family.UpdatedAt}}</td>
                <td><a href="/familjet/{{.Family.ID}}/ndrysho">Ndrysho</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<script src="app/js/krijoFamilje.js"></script>
{{ end }}
