{{ define "content" }}
<div class="container">
    <h1>Krijo Familje</h1>
    <form id="family-form" method="POST" action="/api/v1/families">
        <div class="row">
            <div class="col">
                <input id="name" name="name" type="text" placeholder='Emri' class="form-control" />
            </div>
            <div class="col">
                <input id="middle_name" name="middle_name" type="text" placeholder="Emri i Prindit" class="form-control" />
            </div>
            <div class="col">
                <input id="surname" name="surname" type="text" placeholder="Mbiemri" class="form-control" />
            </div>
            <div class="col">
                <input id="members" name="members" type="number" placeholder="Numri i anetareve" class="form-control" />
            </div>
            <div class="col">
                <select id="neighbourhood_id" name="neighbourhood_id" class="form-control">
                    <option value="" disabled selected>Zgjidh lagjen</option>
                    {{range .Neighbourhoods}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div class="col">
                <input type="submit" value="Krijo" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <br />
</div>
<div class="container">
    <h3>Lista e familjeve</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Emri</th>
                <th>Prindi</th>
                <th>Mbimeri</th>
                <th>Numri i antareve</th>
                <th>Lagje</th>
                <th>Krijuar me</th>
                <th>Ndryshuar me</th>
                <th>Ndrysho</th>
            </tr>
        </thead>
        <tbody>
            {{range .Families}}
            <tr>
                <td>{{.Family.Name}}</td>
                <td>{{.Family.Middlename}}</td>
                <td>{{.Family.Surname}}</td>
                <td>{{.Family.Members}}</td>
                <td>{{.Neighbourhood}}</td>
                <td>{{.Family.CreatedAt}}</td>
                <td>{{.Family.UpdatedAt}}</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="updateModal('{{.Family.ID}}', '{{.Family.Name}}', '{{.Family.Middlename}}', '{{.Family.Surname}}', '{{.Family.Members}}', '{{.Family.NeighbourhoodID}}')">Ndrysho</button></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Ndrysho Familjen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-form" method="PUT">
                        <input name="id" type="hidden" id="m_id" />
                        <div class="mb-3">
                            <label for="name" class="form-label">Emri</label>
                            <input name="name" type="text" class="form-control" id="m_name">
                        </div>
                        <div class="mb-3">
                            <label for="middlename" class="form-label">Prindi</label>
                            <input name="middlename" type="text" class="form-control" id="m_middlename">
                        </div>
                        <div class="mb-3">
                            <label for="surname" class="form-label">Mbiemri</label>
                            <input name="surname" type="text" class="form-control" id="m_surname">
                        </div>
                        <div class="mb-3">
                            <label for="members" class="form-label">Anetaret</label>
                            <input name="members" type="number" class="form-control" id="m_members">
                        </div>
                        <div class="col">
                            <label for="m_neighbourhood_id" class="form-label">Lagje</label>
                            <select id="m_neighbourhood_id" name="m_neighbourhood_id" class="form-control">
                                {{range .Neighbourhoods}}
                                <option value="{{.ID}}">{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mbyll</button>
                    <button type="submit" form="update-form" class="btn btn-primary">Ruaj Ndryshimet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="app/js/krijoFamilje.js"></script>
{{ end }}
