{{ define "content" }}
<div class="container">
    <h1>Pagesat</h1>
    <p class="lead">Lista e pagesave</p>
    <table class="table">
        <thead>
            <tr>
                <th>Emri i familjes</th>
                <th>Anetaret</th>
                <th>Shuma e pageses</th>
                <th>Viti</th>
                <th>Emri i lagjes</th>
                <th>Krijuar me</th>
                <th>Ndryshuar me</th>
                <th>Ndrysho</th>
            </tr>
        </thead>
        <tbody>
            {{range .Payments}}
            <tr>
                <td>{{.FamilyName}}</td>
                <td>{{.Members}}</td>
                <td>{{.Amount}}</td>
                <td>{{.Year}}</td>
                <td>{{.NeighbourhoodName}}</td>
                <td>{{.CreatedAt}}</td>
                <td>{{.UpdatedAt}}</td>
                <td><a href="/pagesat/{{.ID}}/ndrysho">Ndrysho</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ end }}
