{{ define "content" }}
<div class="container">
    <h1>Krijo Pagese</h1>
    <form id="payment-form" method="POST" action="/api/v1/payments">
        <div class="row g-3">
            <div>
                <input type="checkbox" id="new-year" name="new-year" class="form-check-input" />
                <label for="new-year" class="form-check-label">Krijo pagese per disa vite</label>
            </div>
            <div class="col-lg-3 col-md-6">
                <select id="family_id" name="family_id" class="form-control">
                    <option value="" disabled selected>Zgjidh familjen</option>
                    {{range .Families}}
                    <option value="{{.ID}}" data-members="{{.Members}}">{{.Name}} {{.Middlename}} {{.Surname}}</option>
                    {{end}}
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <input id="amount" name="amount" type="number" step=".01" placeholder='Shuma per pagese' class="form-control" />
            </div>
            <div class="col-lg-3 col-md-6">
                <input id="year" name="year" type="number" placeholder="Viti" class="form-control" />
            </div>
            <div id="placeholder" class="col-lg-3 col-md-6">
                <input id="range_year" name="range_year" type="number" placeholder="Deri ne vitin" class="form-control" hidden disabled/>
            </div>
            <div class="col-lg-3 col-md-6">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-floppy-disk"></i> Ruaj
                </button>
            </div>
        </div>
    </form>
    <br />
</div>
<div class="container">
    <div class="row g-3">
        <div class="col-6">
            <h3>Kerko pagesat sipas vitit</h3>
        </div>
        <div class="col-6">
            <h3>Kerko pagesat sipas familjes</h3>
        </div>
    </div>
    <form id="payments-filter-form" method="GET" action="/pagesat">
        <div class="row g-3">
            <div class="col-lg-3 col-md-6">
                <input id="s_year" name="s_year" type="number" placeholder="Viti" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-6">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-search"></i> Kerko vitin
                </button>
            </div>
            <div class="col-lg-3 col-md-3">
                <input id="search" type="text" class="form-control" placeholder="Kerko per familje" />
            </div>
            <div class="col-lg-3 col-md-3">
                <button type="button" class="btn btn-primary" onclick="searchFamily()">
                    <i class="fas fa-search"></i> Kerko familje
                </button>
            </div>
        </div>
    </form>
    <br />
</div>
<div class="container">
    <h3>Lista e pagesave</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Emri i familjes</th>
                    <th>Anetaret</th>
                    <th>Shuma e pageses</th>
                    <th>Viti</th>
                    <th>Emri i lagjes</th>
                    <th>Krijuar me</th>
                    <th>Ndryshuar me</th>
                    <th>Ndrysho</th>
                    <th>Fshi</th>
                </tr>
            </thead>
            <tbody>
                {{range .Payments}}
                <tr>
                    <td>{{.FamilyName}}</td>
                    <td>{{.Members}}</td>
                    <td>{{.Amount}}</td>
                    <td>{{.Year}}</td>
                    <td>{{.NeighbourhoodName}}</td>
                    <td>{{.CreatedAt}}</td>
                    <td>{{.UpdatedAt}}</td>
                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="updateModal('{{.ID}}', '{{.FamilyID}}', '{{.Amount}}', '{{.Year}}')"><i class="fa-solid fa-pen-to-square"></i></button></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>

                    <!-- Confirmation Modal -->
                    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel">Konfirmo fshirjen</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>A jeni i sigurt qe deshironi te fshini kete pagese?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulo</button>
                                    <button type="button" class="btn btn-danger" onclick="deletePayment('{{.ID}}')">Fshije</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Ndrysho Pagesen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="update-form" method="PUT">
                        <input name="id" type="hidden" id="m_id" />
                        <div class="mb-3">
                            <label for="m_family_id" class="form-label">Familja</label>
                            <select id="m_family_id" name="family_id" class="form-control">
                                {{range .Families}}
                                <option value="{{.ID}}">{{.Name}} {{.Middlename}} {{.Surname}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Shuma</label>
                            <input name="amount" type="number" step=".01" class="form-control" id="m_amount">
                        </div>
                        <div class="mb-3">
                            <label for="year" class="form-label">Viti</label>
                            <input name="year" type="number" class="form-control" id="m_year">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i></button>
                    <button type="submit" form="update-form" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="app/js/pagese.js"></script>
{{ end }}
