{{ define "content" }}
<div class="container">
    <h1>Kerko pagesat e pakryera</h1>
    <form id="no-payment-form" method="GET" action="/pagesat-pakryera">
        <div class="row g-3">
            <div class="col-lg-3 col-md-6">
                <input id="year" name="year" type="number" placeholder="Viti" class="form-control" />
            </div>
            <div class="col-lg-3 col-md-6">
                <select id="s_neighbourhood_id" name="s_neighbourhood_id" class="form-control">
                    <option value="" disabled selected>Zgjidh Lagjen</option>
                    {{range .Neighbourhoods}}
                    <option value="{{.ID}}">{{.Name}}</option>
                    {{end}}
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <button type="submit" class="btn btn-success">
                <i class="fas fa-search"></i> Kerko
                </button>
            </div>
        </div>
    </form>
    <br />
</div>
<div class="container">
    <h3>Lista e familjeve papaguar per vitin <span id="yearSpan"></span></h3>
    <div class="row g-3">
        <div class="col-lg-3 col-md-3">
            <input id="search" type="text" class="form-control" placeholder="Kerko per familje" />
        </div>
        <div class="col-lg-3 col-md-3">
            <button type="button" class="btn btn-primary" onclick="searchFamily()">
                <i class="fas fa-search"></i> Kerko
            </button>
        </div>
        <div class="col-lg-6 col-md-6 text-end">
            <button type="button" class="btn btn-primary" onclick="exportToPDF(getYearFromQueryParam(), getNeighbourhoodFromQueryParam())">
                <i class="fas fa-file-pdf"></i> Gjenero Faturat
            </button>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Emri</th>
                    <th>Prindi</th>
                    <th>Mbimeri</th>
                    <th>Numri i antareve</th>
                    <th>Lagje</th>
                    <th>Krijuar me</th>
                    <th>Ndryshuar me</th>
                    <th>Paguaj</th>
                </tr>
            </thead>
            <tbody>
                {{range .Families}}
                <tr>
                    <td>{{.Family.Name}}</td>
                    <td>{{.Family.Middlename}}</td>
                    <td>{{.Family.Surname}}</td>
                    <td>{{.Family.Members}}</td>
                    <td>{{.Neighbourhood}}</td>
                    <td>{{.Family.CreatedAt}}</td>
                    <td>{{.Family.UpdatedAt}}</td>
                    <td><button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createPaymentModal" onclick="createPaymentModal('{{.Family.ID}}', '{{.Family.Members}}', getYearFromQueryParam())"><i class="fa-solid fa-pen-to-square"></i></button></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="createPaymentModal" tabindex="-1" aria-labelledby="createPaymentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPaymentModalLabel">Krijo Pagese</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-payment-form" method="POST">
                        <input name="family_id" type="hidden" id="m_family_id" />
                        <div class="mb-3">
                            <label for="amount" class="form-label">Shuma</label>
                            <input name="amount" type="number" class="form-control" id="m_amount" required>
                        </div>
                        <div class="mb-3">
                            <label for="year" class="form-label">Viti</label>
                            <input name="year" type="number" class="form-control" id="m_year" required>
                        </div>
                        <div class="mb-3" id="range_year_input" style="display: none;">
                            <label for="range_year" class="form-label">Deri në vitin</label>
                            <input name="range_year" type="text" class="form-control" id="m_range_year">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="range_year_checkbox" onchange="toggleRangeYearInput()">
                            <label class="form-check-label" for="range_year_checkbox">Krijo pagesë për disa vite</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-right-from-bracket"></i></button>
                    <button onclick="createPaymentCall()" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="app/js/pagese-pakryer.js"></script>
{{ end }}